<div class="col-12 pr-1 text-right @Class">
    <span>ICON</span>
</div>
<div class="col-12 pr-1 text-right @Class">
    <span>@StepNumber. @Title</span>
</div>
<div class="col-12 pr-1 text-right @Class">
    <span>Line</span>
</div>

@code {
    [Parameter]
    public int StepNumber { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Class { get; set; }
}
